:root {
  --color-text: #4d4d4d;
  --color-background-form: #ececec;
  --color-background-button: #0065c8;
  --color-text-button: #ffffff;
  --color-header-background: #0065c8;
  --color-header-text: #ffffff;
}

@media (max-width: 600px) {
  .icone {
    display: none;
  }

  .container_image_profile {
    flex-direction: column;
    align-items: center;
  }

  .icone-profile {
    width: 50px;
    height: 50px;
  }

  .header {
    flex-direction: column;
    padding: 10px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .square {
    width: 100%;
    padding: 15px;
    height: auto;
  }

  .table {
    font-size: 14px;
  }

  .navbar {
    width: 250px;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    margin: 10px;
  }

  .navbar.open {
    left: 0;
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
  }

  .hamburger {
    background-color: #898989;
    transition: background-color 0.3s ease;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    visibility: visible;
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #fff, #0065c8);
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  display: flex;
  padding: 20px;
  width: 100%;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.icone {
  width: 150px;
  height: auto;
  margin-right: auto;
  margin-left: 60px;
}

.container_image_profile {
  display: flex;
  align-items: center;
}

.icone-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
}

.square {
  width: 100%;
  height: auto;
  background: var(--color-background-form);
  border-radius: 10px;
  padding: 20px;
  height: 529px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  text-align: center;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
  background-color: var(--color-background-form);
}

th {
  background: var(--color-header-background);
  color: var(--color-header-text);
  font-weight: bold;
  position: relative;
}

th::after {
  content: ""; 
  font-size: 12px;
  color: var(--color-header-text);
  margin-left: 8px;
  vertical-align: middle;
}

.navbar {
  position: fixed;
  top: 0;
  left: -387px;
  width: 300px;
  height: 100%;
  background-color: #0065c8;
  margin: 10px 20px 10px 20px;
  height: 800px;
  border-radius: 25px 25px 25px 25px;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
}

.navbar.open {
  left: 0;
}

.navbar-content-title {
  border-bottom: 1px solid;
  padding: 15px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.nav-item {
  margin-bottom: 30px;
}

.nav-item-select {
  width: 100%;
  color: #fff;
  padding: 10px;
  background-color: #4288ce;
  border: none;
  border-radius: 3px;
}

.navbar-content-title {
  border-bottom: 1px solid;
  padding: 15px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.menu-toggle {
  display: block;
  background: transparent;
  border: none;
  color: #898989;
  cursor: pointer;
  margin-right: 50px;
  position: fixed;
  top: 20px;
  left: 20px; 
}

.hamburger {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #898989;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 900;
}

.overlay-active {
  opacity: 1;
  visibility: visible;
}
