@import "../../global.scss";

$color-text: #4d4d4d;
$color-background-form: #ececec;
$color-background-button: #0065c8;
$color-button: #ffffff;
$color-white: #fff;
$color-square: #ececec;
$color-black: black;

body {
  background-image: linear-gradient(
    to bottom,
    $color-button,
    $color-background-button
  );
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 40px 50px 40px 50px;
  position: fixed;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.icone {
  width: 150px;
  height: auto;
}

.container_image_profile {
  display: flex;
  align-items: center;
}

.icone-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(110vh - 93px);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .icone {
    width: 120px;
  }

  .icone-profile {
    width: 40px;
    height: 40px;
  }

  .container {
    padding-top: 120px;
    height: auto;
  }
}

.square {
  position: relative;
  width: 1000px;
  height: 529px;
  position: absolute;
  background: $color-square;
  border-radius: 10px;
  overflow: visible;
  z-index: 1;
}

.table {
  text-align: center;
  max-height: 529px;
  width: 928px;
  background-color: transparent;
  position: absolute;
  z-index: 2;
  left: 48px;
  top: -16px;
  tr {
    td:last-child {
      top: 1px;
      border-bottom: 1px solid black;
      border-right: 0px;
    }
  }
}

.refresh {
  position: relative;
  left: 50px;
  width: 23px;
  height: 23px;
}

th {
  box-sizing: border-box;
  width: 208px;
  height: 36px;
  border: 1px solid $color-white;
  background: $color-background-button;
  color: white;
}

tr,
td {
  position: relative;
  top: px;
  border-bottom: 1px solid $color-black;
  border-right: 1px solid $color-black;
}
