:root {
  --color-text: #4d4d4d;
  --color-background-form: #ececec;
  --color-background-button: #0065c8;
  --color-text-button: #ffffff;
}

@media (max-width: 600px) {
  .icone {
    display: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #fff, #0065c8);
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  display: flex;
  padding: 20px;
  width: 100%;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.icone {
  width: 150px;
  height: auto;
  margin-right: auto;
  margin-left: 60px;
}

.container_image_profile {
  display: flex;
  align-items: center;
}

.icone-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
}

.square {
  width: 1200px;
  height: auto;
  background: var(--color-background-form);
  border-radius: 10px;
  padding: 20px;
  height: 529px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  text-align: center;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
  background-color: var(--color-background-form);
}

th {
  background: var(--color-background-button);
  color: var(--color-text-button);
}

.refresh {
  width: 23px;
  height: 23px;
  left: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  left: -387px;
  width: 300px;
  height: 100%;
  background-color: #0065c8;
  margin: 10px 20px 10px 20px;
  height: 800px;
  border-radius: 25px 25px 25px 25px;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
}

.nav-item {
  margin-bottom: 30px;
}

.nav-item-select {
  width: 100%;
  color: #fff;
  padding: 10px;
  background-color: #4288ce;
  border: none;
  border-radius: 3px;
}

.navbar-content-title {
  border-bottom: 1px solid;
  padding: 15px;
  margin-top: 16px;
  margin-bottom: 40px;
  > h1 {
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
  }
}

.navbar-open .navbar {
  left: 0;
}

.menu-toggle {
  display: block;
  background: transparent;
  border: none;
  color: #898989;
  cursor: pointer;
  margin-right: 50px;
  position: fixed;
  top: 60px;
}

.hamburger {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #898989;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.navbar-open .navbar-content {
  left: 0;
}

@media (min-width: 769px) {
  .menu-toggle {
    display: block;
  }

  .navbar-content {
    left: 0;
  }
}

@media (min-width: 769px) AND (max-width: 1200px) {
  .square {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .header-content {
    align-items: center;
  }

  .icone {
    width: 120px;
  }

  .icone-profile {
    width: 40px;
    height: 40px;
  }

  .square {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }

  .table th,
  .table td {
    padding: 8px;
  }

  .refresh {
    left: 20px;
  }
}

@media (max-width: 480px) {
  .header-content {
    padding: 10px;
  }

  .icone {
    width: 100px;
  }

  .icone-profile {
    width: 30px;
    height: 30px;
  }

  th,
  td {
    font-size: 14px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(5px);
}

.navbar-open .overlay {
  opacity: 1;
  pointer-events: all;
}
