* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #d0e3f2, #3582d4);
    overflow-x: hidden;
}

#homeButton {
  font-size: 13px;
}

.header {
    display: flex;
    padding: 20px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.icone {
  width: 150px;
  height: auto;
  margin-right: auto;
  margin-left: 60px;
}

.container_image_profile {
    display: flex;
    align-items: center;
}

.icone-profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    margin: 150px auto; 
}

.search-box {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    width: 95%; 
    position: relative;
}

.search-input {
    flex: 1; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.cliente {
    display: flex;
    justify-content: center;
    width: 100%;
}

#month-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.nome-cliente {
    background: white;
}

.nome-cliente input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
    width: 300px;
}

button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
}

.dropdown ul {
    list-style-type: none;
    padding: 0;
}

.dropdown ul li {
    padding: 5px;
    cursor: pointer;
}

.dropdown ul li:hover {
    background-color: #eee;
}

footer {
    position: absolute;
    bottom: 15%;
    font-size: 14px;
    color: white;
}

:root {
    --color-text: #4d4d4d;
    --color-background-form: #ececec;
    --color-background-button: #0065c8;
    --color-text-button: #ffffff;
}

.navbar {
    position: fixed;
    top: 0;
    left: -387px;
    width: 300px;
    height: 100%;
    background-color: #0065c8;
    margin: 10px 20px 10px 20px;
    height: 800px;
    border-radius: 25px 25px 25px 25px;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
  }
  
  .nav-item {
    margin-bottom: 30px;
  }
  
  .nav-item-select {
    width: 100%;
    color: #fff;
    padding: 10px;
    background-color: #4288ce;
    border: none;
    border-radius: 3px;
  }
  
  .navbar-content-title {
    border-bottom: 1px solid;
    padding: 15px;
    margin-top: 16px;
    margin-bottom: 40px;
    > h1 {
      font-size: 25px;
      font-weight: 400;
      margin-left: 30px;
    }
  }
  
  .navbar-open .navbar {
    left: 0;
  }
  
  .menu-toggle {
    display: block;
    background: transparent;
    border: none;
    color: #898989;
    cursor: pointer;
    margin-right: 50px;
    position: fixed;
    top: 60px;
  }
  
  .hamburger {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #898989;
    margin: 5px 0;
    transition: background-color 0.3s ease;
  }
  
  .navbar-open .navbar-content {
    left: 0;
  }
  
  @media (min-width: 769px) {
    .menu-toggle {
      display: block;
    }
  
    .navbar-content {
      left: 0;
    }
  }
  
  @media (max-width: 768px) {
    .header-content {
      align-items: center;
    }
  
    .icone {
      display: none;
    }

    .search-box{
      width: 100%;
    }

    .nome-cliente input {
      width: 220px;
    }
  
    .icone-profile {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .header-content {
      padding: 10px;
    }
  
    .icone {
      width: 100px;
    }
  
    .icone-profile {
      width: 30px;
      height: 30px;
    }
  
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(5px);
  }
  
  .navbar-open .overlay {
    opacity: 1;
    pointer-events: all;
  }